<!DOCTYPE html>
<html>

<head>
    <title>Cart</title>

    <style>
        table {
            border-collapse: collapse;
            table-layout: fixed;
        }

        th,
        td {
            border: 1px solid #eee;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #eee;
        }

        td {
            height: 35px;
            word-break: break-all;
        }

        input {
            width: 100%;
        }
    </style>
</head>

<body>
    <h1 style="font-size: 26px;">Cart</h1>

    <div style="height: 24px;"></div>

    <table>
        <tr>
            <th style="width: 180px;">ID</th>
            <th style="width: 180px;">Name</th>
            <th style="width: 180px;">Piece</th>
            <th style="width: 180px;">Cost</th>
            <th style="width: 180px;">Date</th>
        </tr>

        <% data.forEach(cart=> { %>
            <tr>
                <td>
                    <%= String(cart.product_id).padStart(3, '0' ) %>
                </td>

                <td style="text-align: left;">
                    <%= cart.name %>
                </td>

                <td>
                    <%= cart.piece %>
                </td>

                <td style="text-align: right;">
                    <%= cart.cost.toLocaleString('th-TH', { minimumFractionDigits: 2 }) %> ฿
                </td>

                <td>
                    <%= cart.createdAt.toLocaleString('th-TH', { year: 'numeric' , month: '2-digit' , day: '2-digit' ,
                        hour: '2-digit' , minute: '2-digit' , hour12: false }) %>
                </td>
            </tr>
            <% }) %>
    </table>
    <br>

    <div>
        <a href="/cart?page=1" style="text-decoration: none; color: black; margin: 0 4px;">
            &lt;&lt;
        </a>

        <a href="/cart?page=<%= page > 1 ? page - 1 : 1 %>" style="text-decoration: none; color: black; margin: 0 4px;">
            &lt;
        </a>

        Page <%= page%> of <%= totalPages %>

                <a href="/cart?page=<%= page < totalPages ? page + 1 : totalPages %>"
                    style="text-decoration: none; color: black; margin: 0 4px;">
                    &gt;
                </a>

                <a href="/cart?page=<%= totalPages %>" style="text-decoration: none; color: black; margin: 0 4px;">
                    &gt;&gt;
                </a>
    </div>
</body>

</html>